div.box{
    position:relative;
}
div.box{
background-image: url("fundo.png");
background-repeat: no-repeat;
background-size: 100% 100%;
animation: go-text 9s;
height:100%;
width:100%;
margin-left: -1200px;
position: absolute;

}


h1.cargo {
    color: rgba(255,255,255,1);
    text-align: center;
    margin-top: -55px;
    font-size: 45px;
    margin-left: -2300px;
    animation: go-text 10s;
 }
h2.people_name{
    text-align: center;
    color: rgba(255,255,255,1);
    margin-top: 80px;
    margin-left: -2300px;
    font-size: 70px;
    animation: go-text 10s;
}

@keyframes go-fundo {
    from{
        transform: translateX(-1200px);

    }
    end{
        transform: translateX(0px) scale(1);
    }
}
@keyframes go-text {
    0% {
        transform: translateX(0px);
    }
    30%,70% {
        transform: translateX(1200px) ;

    100% {
        transform: translateX(0px) scale(1);
    }
}