@keyframes go-fundo {
    0% {
        transform: translateX(-800px);

    }
    100% {
        transform: translateX(0px) scale(1);
    }
}
@keyframes go-text {
    0% {
        transform: translateX(-800px);
    }
    60% {
        transform: translateX(50px) ;
    }

    100% {
        transform: translateX(0px) scale(1);
    }
}
h1.cargo {
animation: go-text 3s;
font-size: 38px;
color: blue;
text-align: center;
 position: relative;
    margin-top: -10px;
    margin-left: 280px;
    margin-right: 400px;
    margin-bottom: 200px;
 }
h2.people_name{
    animation: go-text 3s;
    position: relative;
    text-align: center;
    color: blue;
    margin-top: 380px;
    margin-left: 280px;
    margin-right: 400px;
    font-size: 48px;

}
div.box{

line-height: 0.3;
animation: go-fundo 2s;
transition: transform 4s;
transform: translateX(0px) scale(1);
position: absolute;
background-size: 820px 530px;
background-image: url("aviso_fundo.png");
background-repeat: no-repeat;




}

