<!DOCTYPE html>

<html lang="pt">
<head class="fundo">
<meta charset="utf-8"/>
<title>Veciculo</title>
<script src="js_biblia.js" type="text/javascript"></script>
<link href="biblia.css" rel="stylesheet"/>
</head>
<body class="fundo">
<div class="box">
<h1 class="livro">Apocalipse 1:1</h1>
<h2 class="texto" id="p1">Revelação de Jesus Cristo, que Deus lhe deu para mostrar aos seus servos as coisas que brevemente devem acontecer; e, enviando-as pelo seu anjo, as notificou a seu servo João;</h2>
</div>
</body>
</html>