<!DOCTYPE html>

<html lang="pt">
<head class="fundo">
<meta charset="utf-8"/>
<title>Veciculo</title>
<link href="biblia.css" rel="stylesheet"/>
<script src="js_biblia.js" type="text/javascript"></script>
</head>
<body class="fundo">
<div class="box">
<h1 class="livro" id="livro">Zacarias 1 : 6</h1>
<h2 class="texto" id="versiculo">Contudo as minhas palavras e os meus estatutos, que eu ordenei pelos profetas, meus servos, acaso não alcançaram a vossos pais? E eles se arrependeram, e disseram: Assim como o Senhor dos exércitos fez tenção de nos tratar, segundo os nossos caminhos, e segundo as nossas obras, assim ele nos tratou.</h2>
</div>
</body>
</html>