<!DOCTYPE html>

<html lang="pt">
<head class="fundo">
<meta charset="utf-8"/>
<title>Veciculo</title>
<link href="css/biblia.css" rel="stylesheet"/>
<script src="js/js_biblia.js" type="text/javascript"></script>
</head>
<body class="fundo">
<div class="box">
<h1 class="livro" id="livro">Gênesis 1 : 7</h1>
<h2 class="texto" id="versiculo">Fez, pois, Deus o firmamento, e separou as águas que estavam debaixo do firmamento das que estavam por cima do firmamento. E assim foi.</h2>
</div>
</body>
</html>